<html>
<head>
    <title>Fruity Dex</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="__Landing_banner">
        <div class="__Landing_navbar">
            <img src="logo.png" class="__Landing_logo">
        </div>
        <div class="__Landing_content">
            <h1>Welcome to Fruity-Dex</h1>
            <p>Please Navigate to the App to being Usage.</p>
            <div>
                <button type="button">
                  <span></span><h2>Let's Go!</h2>
                </button>
            </div>
        </div>
    </div>

</body>

</html>
